# Combining Orders and Prior Orders Dataframes

### Contents:
#### Verify dimensions of Orders and Prior Orders dataframes
#### Merge Dataframes
#### Export as pickle

## 1.0 Import Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

## 2.0 Importing Data

In [2]:
# Importing orders and products dataframe
project_path = r'C:\Users\Owner\Documents\Career Foundry\Instacart Basket Analysis'
# Import orders data
vars_list = ['order_id', 'user_id', 'order_number', 'order_day_of_week', 'order_hour_of_day', 'days_since_prior_order']
df_orders = pd.read_csv(os.path.join(project_path, '02 Data','02 02 Prepared Data', 'orders_wrangled.csv'), usecols = vars_list)
# Import prior orders data
df_orders_prior = pd.read_csv(os.path.join(project_path, '02 Data', '02 01 Originals', 'order_products__prior.csv'),)

## 3.0 Practice Combining Data

### 3.1 Check outputs and dimensions of dataframes to combine

In [3]:
#Check output of orders prior
df_orders_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
#Check output of orders
df_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [5]:
#Check dimensions of prior orders
df_orders_prior.shape

(32434489, 4)

In [6]:
#Check dimensions of orders 
df_orders.shape

(3421083, 6)

### 3.2 Merge Datasets

In [7]:
#Merge prior orders and orders data
df_merged_large = df_orders.merge(df_orders_prior, on = 'order_id', indicator = True)

In [8]:
#Check merged data and merge flag
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [9]:
#Merge flag counts
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

## 4.0 Export merged data as pickle

In [10]:
#Export merged order information as pickle
df_merged_large.to_pickle(os.path.join(project_path, '02 Data','02 02 Prepared Data', 'orders_priors_combined.pkl'))