# Combining Products and merged Orders

### Contents: 
#### Prepare Dataframes for merge
#### Merge products and orders dataframes
#### Export as pickle

## 1.0 Import Libraries

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os

## 2.0 Import Data

In [2]:
# Importing orders and products dataframe
project_path = r'C:\Users\Owner\Documents\Career Foundry\Instacart Basket Analysis'
# Import merged orders pickle
df_merged_orders = pd.read_pickle(os.path.join(project_path, '02 Data','02 02 Prepared Data', 'orders_priors_combined.pkl'),)
# Importing complete products data
vars_list = ['product_id', 'product_name', 'aisle_id', 'department_id', 'prices']
df_products_clean = pd.read_csv(os.path.join(project_path, '02 Data', '02 02 Prepared Data', 'products_clean.csv'), usecols = vars_list )

## 3.0 Prepare Data for Combination

### 3.1 Review shape of dataframes

In [3]:
#Review shape of merged orders
df_merged_orders.shape

(32434489, 10)

In [4]:
#Review shape of products
df_products_clean.shape

(49672, 5)

### 3.2 Review output of data

In [5]:
#Review output of merged orders
df_merged_orders.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [6]:
#Review output of products
df_products_clean.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

### 3.3 Prepare merged dataframe for merge with products

In [7]:
#Drop _merge from orders data
df_merged_orders = df_merged_orders.drop('_merge', axis = 1)

## 4.0 Merge Data

In [9]:
#Merge orders and product data on product_id common variable
df_merged_orders_products = df_merged_orders.merge(df_products_clean, on = 'product_id', indicator = True)

In [10]:
#Review output of merged data
df_merged_orders_products.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [11]:
#Review merge flag
df_merged_orders_products['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

## 5.0 Export Data

In [12]:
#Export merged data as a pickle
df_merged_orders_products.to_pickle(os.path.join(project_path, '02 Data','02 02 Prepared Data', 'orders_products_combined.pkl'))